{{>header}}

<!-- Details -->
<div class="container details">
  <div class="details-content">
    <h2>{{item.title}}</h2>
    <strong>{{item.category}}</strong>
    <p>{{item.content}}</p>
    <div class="buttons">
      {{#if canEdititem}}
      <a href="#/item/close/{{item.id}}" class="btn delete">Delete</a>
      <a href="#/item/edit/{{item.id}}" class="btn edit">Edit</a>
      {{else}}
      <a href="#/item/list" class="btn edit">Back</a>
      {{/if}}
    </div>
  </div>
</div>
<!-- /Details-->

{{>footer}}