{{>header}}

<!-- items-list (All items View) -->
<div class="content">
  <section class="js">
    <h2>JavaScript</h2>
    {{#each itemsJS}}
    <div class="articles">
      <article>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <a href="#/item/details/{{id}}" class="btn details-btn">Details</a>
      </article>
    </div>
    {{else}}
    <h3 class="no-articles">No articles yet</h3>
    {{/each}}
  </section>
  <section class="CSharp">
    <h2>C#</h2>
     {{#each itemsC}}
    <div class="articles">
      <article>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <a href="#/item/details/{{id}}" class="btn details-btn">Details</a>
      </article>
    </div>
    {{else}}
    <h3 class="no-articles">No articles yet</h3>
    {{/each}}
  </section>
  <section class="Java">
    <h2>Java</h2>
     {{#each itemsJava}}
    <div class="articles">
      <article>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <a href="#/item/details/{{id}}" class="btn details-btn">Details</a>
      </article>
    </div>
    {{else}}
    <h3 class="no-articles">No articles yet</h3>
    {{/each}}
  </section>
  <section class="Pyton">
    <h2>Pyton</h2>
     {{#each itemsPyton}}
    <div class="articles">
      <article>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <a href="#/item/details/{{id}}" class="btn details-btn">Details</a>
      </article>
    </div>
    {{else}}
    <h3 class="no-articles">No articles yet</h3>
    {{/each}}
  </section>
</div>
<!-- /items-list (All items View) -->

{{>footer}}