{{>header}}

<!-- Edit item -->

{{!-- <form class="create-item" action="#/item/edit/{{item.id}}" method="POST">

    <div class="form-label-group">
      <input type="text" name="location" class="form-control" placeholder="Location" required="" autofocus="" 
      value="{{item.location}}">
      <label for="inputitemName">Location</label>
    </div>

    <div class="form-label-group">
      <input type="text" value="{{item.dateTime}}" name="dateTime" class="form-control" placeholder="Date" required="">
      <label for="inputitemDate">Date</label>
    </div>

    <div class="form-label-group">
      <textarea type="text" name="description" class="form-control" placeholder="Description" required="">
        {{item.description}}
      </textarea>
      <label for="inputitemDescription">Description</label>
    </div>

    <div class="form-label-group">
      <input type="text" value="{{item.imageURL}}" name="imageURL" class="form-control" placeholder="Image" required="" autofocus="">
      <label for="inputitemImage">Image</label>
    </div>
    <div style="display: none">
      <input name="organizer" value="" />
      <input name="likes" value="" />
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Edit the item</button>
  </form> --}}

<!-- /Edit item -->

{{>footer}}